.container {
	overflow: hidden;
	display:	 flex;
	flex-direction: column;
	align-items: center;
	background-color: #151514;
	border-radius: 40px;
	height: 100%;
}

.container * {
	margin: 10px;
}

.description {
	padding-top: 30px;
	font-size: xx-large;
	font-weight: bolder;
	font-style: italic;
	color: #CFDBD5
}

.posters {
  background: repeat-x;
  height: 500px;
	animation: slide 60s linear infinite;
	display: flex;
	padding-left: 1500px;
}

.posters div {
	color: #CFDBD5;
	width: 200px;
}

.posters div p {
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
	font-style: italic;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}