.PostDisplay-votes * {
	margin: 5px;
}

.list-movie-container {
	margin-bottom: 20px;
	border-radius: 10px;
}

.list-movie-container h6 {
	font-style: italic;
	padding: 5px;
	overflow-wrap: normal;
	text-align: center;
}

.list-movie-container * {
	margin: 5px;
}

.list-movie-container img {
	border: 1px solid grey;
	border-radius: 20px;
	height: 200px;
	width: 120px;
}

.info-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px;

}

.detailed-movie-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* border: 1px solid black; */
	margin: 5px 20%;
	background-color: #151514;
}

.detailed-movie-container img {
	height: 80vh;
	width: 60vh;
}

.detailed-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 20px;
	width: 50%;
	color: whitesmoke;
}

.detailed-info-container .buttons {
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.detailed-info-container * {
	margin: 5px;
}

.detailed-info-container i, h4 {
	text-align: center;
}