.PostDisplay-votes * {
	margin: 5px;
}

.movie-container h6 {
	font-style: italic;
	padding: 5px;
	overflow-wrap: normal;
}

.movie-container * {
	margin: 5px;
}

.detail-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px;

}